/*global*/

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-size: 1.125em;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
}

a:link {
  color: #03deb7;
}

a:visited {
  color:#04c4a2;
}

a:hover {
  color: #04facf;
}

img {
  max-width: 100%;
}

/*typography*/

h1 {
  font-size: 1.750em;
  font-weight: 100;
  letter-spacing: -1.5px;
  color: #32f580;
}

h2 {
  font-weight: 100;
  font-size: 1.500em;
  color: #07ce57;
}
h3 {
  font-weight: 100;
  font-size: 1.250em;
  color: #07ce57;
}

.header h1 a {
  font-weight: 100;
  font-size: 1.750em;
  letter-spacing: -1.5px;
  color: #32f580;
}

.header h1 a:visited {
  color: #32f580;
}

.header h2 a {
  font-weight: 100;
  font-size: 1.500em;
  color: #07ce57;
}

.header h2 a:visited {
  color: #07ce57;
}

/* text boxes and positioning*/

.header {
  padding-left: 3%;
}

.internship {
  border: 2px solid #444;
  padding: 4%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  columns: 225px 2;
  -webkit-columns: 225px 2;
  -webkit-column-gap: 3em;
  -moz-columns: 225px 2;
  -moz-column-gap: 3em;
} 

.internship h2 {
  column-span: all; /* W3C */
  -webkit-column-span: all; /* Safari & Chrome */
  -moz-column-span: all; /* Firefox */
  -ms-column-span: all; /* Internet Explorer */
  -o-column-span: all; /* Opera */
}

.study h2 {
  padding-top: 12%;
}




