<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/img/icon_renatekikkert.png">

    </head>
    <body>

        <div class="container">
          <div class="header">
            <h1><a href="/">Renate Kikkert</a></h1>
            <h2><a href="/">Aspiring Frontend Developer</a></h2>
          </div>
   
              {{ content }}


        </div> <!-- /container -->
    </body>
</html>
